@import "~@fontsource/actor/index.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Actor";
}

.button{
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover{
  background-color: black;
  color: white;
}